# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java4\SOF3011_CRUD_FixCung-full\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
